.home-page {
  width: 100%;
  min-height: 100vh;
  background: #f9f9f9;
  
  padding: 10px 0;

}

.latest-news-section {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.section-header {
  text-align: center;
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}


.section-subtitle {
  font-size: 1rem;
  color: #555;
}
